{% extends 'layout.njk' %}

{% block head %}
  <title>Rocketseat - about</title>
  <link rel="stylesheet" href="/styles/about.css">
{% endblock %}

{% block content %}
  <div id="about">
    <img src="https://pbs.twimg.com/profile_images/1271517147349626881/Mf1UjRa0.jpg" alt="Rockeseat">
    <h1>Rocketseat</h1>
    <p>Focado em passar o melhor conteúdo online, além de ajudar muitos a conseguirem seu primeiro emprego como
      desenvolvedor.</p>
  </div>

  <div id="tech">
    <h4>Principais tecnologias utilizadas pela empresa:</h4>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>Node.js</li>
      <li>React</li>
      <li>React Native</li>
      <li>SQL</li>
    </ul>
  </div>

  <div id="links-footer">
    <a href="https://github.com/Rocketseat" target="_blank">Github</a>
    <a href="https://www.instagram.com/rocketseat_oficial/?hl=pt-br" target="_blank">Instagram</a>
    <a href="https://pt-br.facebook.com/rocketseat/" target="_blank">Facebook</a>
  </div>
{% endblock %} 