{% extends 'layout.njk' %}

{% block head %}
  <title>Rocketseat - about</title>
  <link rel="stylesheet" href="/styles/about.css">
{% endblock %}

{% block content %}
  <div id="about">
    <img src="{{about.avatar_url}}" alt="{{about.name}}">
    <h1>{{about.name}}</h1>
    <p>{{about.description}}</p>
  </div>

  <div id="tech">
    <h4>Principais tecnologias utilizadas pela empresa:</h4>
    <ul>
      {% for tech in about.technologies %}
      <li>{{tech}}</li>
      {% endfor %}
    </ul>
  </div>

  <div id="links-footer">
    {% for link in about.links %}
    <a href="{{link.url}}" target="_blank">{{link.name}}</a>
    {% endfor %}
  </div>
{% endblock %} 