{% extends 'layout.njk' %}

{% block head %}
  <title>Rockeseat - Aulas</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="styles/courses.css">
{% endblock %}

{% block content %}
  <h1>Cursos da Rocketseat</h1>

  <section class="cursos">
    {% for course in items %}
    <div class="curso" id="{{course.name}}">
      <img src="/assets/{{course.name}}.svg" alt="">
      <h4>{{course.description}}</h4>
      <a>Saiba mais</a>
    </div>
    {% endfor %}
  </section>

    <div class="modal-overlay">
      <div class="modal">
        <div class="modal-content">
          <iframe src="" frameborder="0"></iframe>
        </div>
        
        <a class="close-modal">
          <span class="material-icons">close</span>
        </a>

        <a class="expand">
          <span class="material-icons">aspect_ratio</span>
        </a>
      </div>
    </div>
  
  <script src="/scripts.js"></script>
{% endblock %}